<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>822249020937-od2c1il0kvc6vfide4ig0lkgck2qcnpo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.822249020937-od2c1il0kvc6vfide4ig0lkgck2qcnpo</string>
	<key>API_KEY</key>
	<string>AIzaSyCcpMx_vu5jhGNmCbjRjNUvgIBzqupFVkc</string>
	<key>GCM_SENDER_ID</key>
	<string>822249020937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.aaldn.portfolio</string>
	<key>PROJECT_ID</key>
	<string>eugenio-tesio-porfolio</string>
	<key>STORAGE_BUCKET</key>
	<string>eugenio-tesio-porfolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:822249020937:ios:580b4c8f16e7701ef522d8</string>
</dict>
</plist>